<!--Section card-->
<section class="cards">
  <div class="card__logo"></div>
  <div class="card__info">
    <div class="card__content">
      <h2 class="card__title">Nossos serviços</h2>
      <ul class="cards__list">
        <li class="card__item">reforma completa</li>
        <li class="card__item">reforma de cozinhas</li>
        <li class="card__item">reforma de banheiros</li>
        <li class="card__item">design interiores</li>
        <li class="card__item">pisos e acabamentos</li>
      </ul>
      <div class="card__extra">
        <a class="card__link" href="servicos.html">mais informações</a>
      </div>
    </div>
  </div>
</section>
