<!--About-->
<section class="about">
  <div class="about__us">
    <div class="about__content">
      <h3 class="about__title">Sobre nós</h3>
      <h4 class="about__subtitle">newel reformas residenciais</h4>
      <p class="about__text">
        Desde a especificação de seus projetos, até os ajustes finais,
        integrando isso a sua realização, a ENGENHARIA ,possui experiência,
        técnica e prática em todas as etapas necessárias para o
        desenvolvimento de grandes obras, atendendo as necessidades da sua
        empresa, seja ela pequena, média ou grande, comercial, industrial ou
        empreendimentos imobiliários.
      </p>
    </div>
  </div>
  <div class="about__logo"></div>
</section>
