<!--section service-->
<section class="service container">
  <div class="service__content">
    <div class="service__area">
      <div class="service__items">
        <h2 class="service__title--h2">nossos serviços</h2>
      </div>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--h3">reforma completa</h3>
        <p class="service__text">
          Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em "Editar
          texto" ou
          clicar duas vezes sobre
          mim para editar o conteúdo, a fonte e mais.
        </p>
      </div>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--h3">reforma de cozinhas</h3>
        <p class="service__text">
          Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em "Editar
          texto" ou
          clicar duas vezes sobre
          mim para editar o conteúdo, a fonte e mais.
        </p>
      </div>
    </div>
    <div class="service__area">
      <img class="service__img" src="assets/img_service.webp" alt="Logo service">
    </div>
    <div class="service__area">
      <img class="service__img" src="assets/img_service-2.webp" alt="logo service">
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--h3">interiores</h3>
        <p class="service__text">
          Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em "Editar
          texto" ou
          clicar duas vezes sobre
          mim para editar o conteúdo, a fonte e mais.
        </p>
      </div>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--h3">pisos ...</h3>
        <p class="service__text">
          Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em "Editar
          texto" ou
          clicar duas vezes sobre
          mim para editar o conteúdo, a fonte e mais.
        </p>
      </div>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--h3 service__remove--space">reforma de banheiros</h3>
        <p class="service__text">
          Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em "Editar
          texto" ou
          clicar duas vezes sobre
          mim para editar o conteúdo, a fonte e mais.
        </p>
      </div>
    </div>
    <div class="service__area">
      <h4 class="service__title">nossa expertise</h4>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--list">pré-construção</h3>
        <ul class="service__item">
          <li class="service__list">design projetos</li>
          <li class="service__list">programação</li>
          <li class="service__list">estimativa e orcamento</li>
        </ul>
      </div>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--list">construção</h3>
        <ul class="service__item">
          <li class="service__list">controle de qualidade</li>
          <li class="service__list">gestao de segurança</li>
          <li class="service__list">guestao de mão de obra</li>
        </ul>
      </div>
    </div>
    <div class="service__area">
      <div class="service__items">
        <h3 class="service__title--list">pós-construção</h3>
        <ul class="service__item">
          <li class="service__list">certificações legais</li>
          <li class="service__list">documentaçoes</li>
          <li class="service__list">garantia</li>
        </ul>
      </div>
    </div>
  </div>
</section>
