.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-black);
  border: 1px solid white;
  z-index: 1;
}

.back-to-top:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transform: scale(1.05);
}

.back-to-top--show {
  bottom: 50px;
}

.back-to-top span {
  font-size: 36px;
  color: var(--bg-white);
}
