.header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../assets//header-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 939px;
  object-fit: cover;
  margin-bottom: 60px;


}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 35px;
  height: 75px;

}

.header__description {
  margin-top: 12px;
}

.header__info {
  display: flex;
  flex-direction: column;
  color: var(--bg-white);
  line-height: normal;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}

/*---Header about---*/
.header__about {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  height: calc(100% - 75px);

}


.header__title {
  color: var(--bg-white);
  font-size: 60px;
  font-family: raleway-semibold;
  text-transform: capitalize;
  margin-bottom: 10px;
  flex-wrap: wrap;

}

.header__subtitle {
  color: var(--bg-white);
  font-size: 30px;
  flex-wrap: wrap;
}

/*---Responsive width Media Queries---*/
@media(max-width: 832px) {
  .header__title {
    font-size: 40px;
  }

  .header__description {
    margin-left: 10px;
  }
}

@media (max-width: 600px) {

  .header__container {
    margin-left: 0;
    margin-right: 0;
    max-width: 900px;
    background-color: var(--bg-black);
    flex-direction: row-reverse;
  }

  .header__subtitle {
    font-size: 20px;
  }

  .header__info {
    font-size: 14px;
  }

  .header__title {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__description {
    display: block;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
  }
}


/*--Nav--*/
.nav {
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;


}


.nav__list {
  display: flex;


}

.nav__item {
  list-style: none;
  width: 71px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;



}

.nav__item--select {
  border: 1px solid var(--bg-white);
  text-transform: capitalize;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg-white);
  width: 80px;
  height: 40px;
  padding-left: 20px;
  margin-left: 40px;


}

.nav__item .nav__link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--bg-white);
  display: inline-block;
  max-width: 100%;
  max-height: 100%;

}


.menu__checkbox {
  position: absolute;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
  margin-bottom: 0;
}



.nav .nav__mobile {
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
}

.nav__span {
  display: inline-block;
  margin-bottom: 10px;
  width: 35px;
  height: 4px;
  background-color: var(--bg-white);
  border-radius: 3px;
  transition: all ease .2s;
}

.nav .menu__checkbox:checked~.nav__mobile .nav__span {
  background-color: #232323;

}

.nav .menu__checkbox:checked~.nav__mobile .nav__span:nth-child(1) {
  transform: rotate(45deg) translate(16px, 5px) scaleX(1.20);
  transition: all ease 0.4s;
}

.nav .menu__checkbox:checked~.nav__mobile .nav__span:nth-child(2) {
  opacity: 0;
}

.nav .menu__checkbox:checked~.nav__mobile .nav__span:nth-child(3) {
  transition: all ease 0.4s;
  transform: rotate(-45deg) translate(16px, -5px) scaleX(1.20);
}

.nav .menu__checkbox:checked~.nav__list {
  margin-top: 0;
}

.nav__page,
.menu__checkbox,
.nav__mobile {
  display: none;
}


/*--Tablet--*/
@media (max-width:768px) {

  .nav__item--select {
    display: none;
  }
}

/* --other Devices--*/
@media (max-width: 600px) {

  .nav {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
  }

  .nav__page,
  .menu__checkbox,
  .nav__mobile {
    display: block;
  }



  .nav__item--select {
    display: none;
  }

  .nav__list {
    position: absolute;
    z-index: 998;
    padding-top: 150px;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: var(--bg-white);
    margin-top: -1650px;
    transition: all ease .2s;
    display: block;
    transition: 550ms;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }



  .nav__item {
    padding-bottom: 50px;
    cursor: pointer;
    padding-right: 0;
    width: 100%;
  }

  .nav__page {
    list-style-type: none;
    padding: 5px;
  }

  .nav .nav__link {
    text-decoration: none;
    color: var(--bg-black);
    font-size: 25px;
    text-transform: capitalize;

  }

  .nav .nav__link:hover {
    color: #999;
  }

  .nav__page {
    padding: 10px;

  }

  .nav__page .nav__link {
    background-color: #232323;
    display: block;

  }
}

@media(max-width:427px) {

  .nav__social,
  .nav__pages {
    display: none;
  }
}

