<!---Header--->
<header class="header">
  <div class="header__container">
    <div class="header__description">
      <span class="header__info">newel</span>
      <span class="header__info">reformas</span>
      <span class="header__info">residenciais</span>
    </div>
    <!--Nav-->
    <nav class="nav">
      <input type="checkbox" class="menu__checkbox">
      <div class="nav__mobile">
        <span class="nav__span"></span>
        <span class="nav__span"></span>
        <span class="nav__span"></span>
      </div>
      <i class="icofont-navigation-menu nav__mobile"></i>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" (click)="goToIndex()">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" (click)="goToServices()">Serviços</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" (click)="goToProjects()">projetos </a>
        </li>
        <li class="nav__item nav__item--select">
          <span class="nav__a--span" href="tel:(11) 111-7890"> ligar </span>
        </li>
        <li class="nav__page">
          <a class="nav__link" href="#">
            <img class="nav__img" src="../assets/logo_facebook.webp" alt="Icon facebook" />
          </a>
        </li>
        <li class="nav__page">
          <a class="nav__link" href="#">
            <img class="nav__img" src="../assets/logo__instagram.webp" alt="Icon instagram" />
          </a>
        </li>
        <li class="nav__page">
          <a class="nav__link" href="#">
            <img class="nav__img" src="../assets/logo_media.webp" alt="Icon facebook" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!---Header About--->
  <div class="header__about header__about--hidden">
    <h1 class="header__title">newel reformas residenciais</h1>
    <span class="header__subtitle">Criando os ambientes dos seus sonhos</span>
  </div>
</header>
<app-index></app-index>
<router-outlet></router-outlet>
