<div class="social">
  <ul class="social__pages">
    <li class="social__page">
      <a class="social__link" href="#">
        <img class="social__img" src="../../assets/logo_facebook.webp" alt="Icon facebook">
      </a>
    </li>
    <li class="social__page">
      <a class="social__link" href="#">
        <img class="social__img" src="../../assets/logo__instagram.webp" alt="Icon instagram">
      </a>
    </li>
    <li class="social__page">
      <a class="social__link" href="#">
        <img class="social__img" src="../../assets/logo_media.webp" alt="Icon facebook">
      </a>
    </li>
  </ul>
</div>
