<!--Review-->
<section class="review">
  <div class="review__content">
    <div class="review__item">
      <p class="review__info">depoimentos</p>
    </div>

    <div class="review__item">
      <div class="review__action">
        <p class="review__text">
          "Sou um depoimento. Clique aqui para editar seu próprio texto. Você também pode alterar a fonte e mais.
          Use
          este espaço
          para compartilhar algo bom sobre você e seus serviços."
        </p>
        <span class="review__name">
          matheus
        </span>
      </div>
    </div>

    <div class="review__item">
      <div class="review__action">
        <p class="review__text">
          "Sou um depoimento. Clique aqui para editar seu próprio texto. Você também pode alterar a fonte e mais.
          Use
          este espaço
          para compartilhar algo bom sobre você e seus serviços."
        </p>
        <span class="review__name">lars & Marisa</span>
      </div>
    </div>

    <div class="review__item">
      <div class="review__action">
        <p class="review__text">
          "Sou um depoimento. Clique aqui para editar seu próprio texto. Você também pode alterar a fonte e mais.
          Use
          este espaço
          para compartilhar algo bom sobre você e seus serviços."
        </p>
        <span class="review__name">chris pacheco</span>
      </div>
    </div>
  </div>
</section>
