<section class="author__nelson">
  <div class="author__area">
    <div class="author__items">
      <p class="author__text">
        nossos projetos</p>
    </div>
    <div class="author__items">
      <a href="projects#gallery__nelson" class="author__name">
        projeto do Nelson
      </a>
    </div>
    <div class="author__items">
      <a href="projects#gallery__grota" class="author__name">
        rua da grota,20131
      </a>
    </div>
    <div class="author__items">
      <a href="projects#gallery__jefferson" class="author__name">
        casa do lago do Jefferson
      </a>
    </div>
  </div>
</section>

