<!--Project area-->
<section class="project">
  <h4 class="project__name">projetos recentes</h4>
  <div class="project__area">
    <div class="project__gallery">
      <div class="project__left">
        <div class="project__left--1 ">
          <a class="project__link" href="projetos.html#gallery__grota">
            <img class="project__img" src="assets/project_img.jpg" alt="Projeto rua da grota">
            <span class="project__text">Rua da Grota,20131</span>
          </a>
        </div>
        <div class="project__left--2 ">
          <a class="project__link" href="projetos.html#gallery__nelson">
            <img class="project__img" src="assets/img_projeto-nelson.jpg" alt="Projeto Nelson">
            <span class="project__text">Projecto do Nelson</span>
          </a>
        </div>
      </div>
    </div>

    <!--Project middle-->
    <div class="project__gallery">
      <div class="project__middle">
        <div class="project__middle--1 ">
          <a class="project__link" href="projetos.html#gallery__grota">
            <img class="project__img" src="assets/img_rua-da-grota-2.webp" alt="logo">
            <span class="project__text">Rua da Grota, 20131</span>
          </a>
        </div>
        <div class="project__middle--2  ">
          <a class="project__link" href="projetos.html#gallery__nelson">
            <img class="project__img" src="assets/projecto-nelson-2.jpg" alt="logo">
            <span class="project__text">Project do Nelson</span>
          </a>
        </div>
      </div>
    </div>
    <!--project right-->
    <div class="project__right ">
      <a class="project__link" href="projetos.html#gallery__jefferson">
        <img class="project__img" src="assets/img_casa-do-jefferson.webp" alt="Casa do lago do jefferson">
        <span class="project__text">Casa do lago do Jefferson</span>
      </a>
    </div>
  </div>
  <div class="project__more">
    <div class="project__button">
      <a class="project__button--link" id="serviços" href="projects#project__more">ver todos</a>
    </div>
  </div>
</section>
