:root {
  --bg-color: rgb(38, 38, 38);
  --bg-black: black;
  --bg-color1: rgb(107, 94, 78);
  --bg-color2: rgb(154, 138, 120);
  --bg-color3: rgb(187, 165, 139);
  --bg-white: white;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

.container {
  margin-left: 60px;
  margin-right: 60px;

}

.base {
  width: 100%;
  min-width: 100%;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid var(--bg-black);
}

.back-to-top:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transform: scale(1.05);
}

.back-to-top--show {
  bottom: 50px;
}

.back-to-top span {
  font-size: 36px;
  color: var(--bg-black)
}

@media(max-width:600px) {

  .container {
    margin-left: 25px;
    margin-right: 20px;

  }

}
